site_name: PyPortion Docs
site_description: CLI tool documentation
repo_url: https://github.com/atharabia/pyportion
site_url: https://pyportion.com/
repo_name: pyportion
theme:
    name: material
    favicon: ''
    features:
        - content.code.annotate
        - content.code.copy
        - content.footnote.tooltips
        - content.tabs.link
        - content.tooltips
        - navigation.footer
        - navigation.indexes
        - navigation.instant
        - navigation.instant.prefetch
        - navigation.instant.progress
        - navigation.path
        - navigation.tabs
        - navigation.top
        - navigation.tracking
        - search.highlight
        - search.share
        - search.suggest

    palette:
        - scheme: slate
          primary: green
          accent: green

markdown_extensions:
    - pymdownx.highlight:
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences

extra_css:
    - assets/css/custom.css
    - assets/css/termynal.css

extra_javascript:
    - assets/js/termynal.js

nav:
    - Home: pages/index.md
    - Get Started: pages/get-started.md
